<div class="container-fluid mt-5 px-5">
  <p class="fw-light font-monospace l-space">EXPERIENCE</p>
  <p class="fw-bold fs-3">WORK EXPERIENCE</p>
  <div class="EXPERIENCE p-5 position-relative">
    <div class="shape-C position-absolute"><i class="bi bi-pencil text-light fw-bold h3"></i></div>
    <div class="shape-C position-absolute"><i class="bi bi-pencil text-light fw-bold h3"></i></div>
    <div class="shape-C position-absolute"><i class="bi bi-pencil text-light fw-bold h3"></i></div>
    <div class="shape-C position-absolute bottom-0"><i class=" text-light fw-bold h3 "></i></div>
    <div class="contianer row">
        <div class=" Shape-tri my-5 mx-3 col-md-12 p-4 position-relative">
            <p class="h4 p-3"><a href="#">full stack</a> <span class="fw-light "> 2017-2018</span> </p>
            <p>
              Tolerably earnestly middleton extremely distrusts she boy now not. Add
              and offered prepare how cordial two promise. Greatly who affixed suppose
              but enquire compact prepare all put. Added forth chief trees but rooms
              think may.
            </p>
          </div>
        <div class=" Shape-tri my-5 mx-3 col-md-12 p-4 position-relative">
            <p class="h4 p-3"><a href="#"> Front End Developer at Google Company</a> <span class="fw-light "> 2017-2018</span> </p>
            <p>
              Tolerably earnestly middleton extremely distrusts she boy now not. Add
              and offered prepare how cordial two promise. Greatly who affixed suppose
              but enquire compact prepare all put. Added forth chief trees but rooms
              think may.
            </p>
          </div>
        <div class=" Shape-tri my-5 mx-3 col-md-12 p-4 position-relative">
            <p class="h4 p-3"><a href="#">System Analyst</a> <span class="fw-light "> 2017-2018</span> </p>
            <p>
              Tolerably earnestly middleton extremely distrusts she boy now not. Add
              and offered prepare how cordial two promise. Greatly who affixed suppose
              but enquire compact prepare all put. Added forth chief trees but rooms
              think may.
            </p>
          </div>
    </div>
  </div>
</div>
