    <div class="container-fluid my-5 px-5">
    <p class="fw-light font-monospace l-space">MY WORK</p>
    <p class="fw-bold fs-5">RECENT WORK</p>
    <nav style="--bs-breadcrumb-divider: ''" aria-label="breadcrumb">
        <ol class="breadcrumb text-capitalize">
        <li class="breadcrumb-item active-li">graphic design</li>
        <li class="breadcrumb-item" aria-current="page">Apps</li>
        <li class="breadcrumb-item" aria-current="page">Software</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-6 my-3">
        <div
            class="project"
            style="background-image: url(../../assets/images/work1.jpg)"
        >
            <div class="content opacity-0 p-4 d-flexflex-column opacity-0">
            <a href="#" class="text-white fs-4">work 02</a>
            <p class="fw-light pt-3">animation</p>
            <div class="content-url d-flex">
                <div class="p-1 m-1 rounded">
                <a href="#" class="text-dark"><i class="bi bi-share-fill"></i></a>
                </div>
                <div class="p-1 m-1 rounded">
                <a href="#" class="fw-light text-dark fs-6">
                    <i class="bi bi-eye me-1"></i> 100</a
                >
                </div>
                <div class="p-1 m-1 rounded">
                <a href="#" class="fw-light text-dark fs-6">
                    <i class="bi bi-heart me-1"></i> 49</a
                >
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-md-6 my-3">
        <div
            class="project"
            style="background-image: url(../../assets/images/work2.jpg)"
        >
            <div class="content p-4 d-flexflex-column opacity-0">
            <a href="#" class="text-white fs-4">work 02</a>
            <p class="fw-light pt-3">animation</p>
            <div class="content-url d-flex">
                <div class="p-1 m-1 rounded">
                <a href="#" class="text-dark"><i class="bi bi-share-fill"></i></a>
                </div>
                <div class="p-1 m-1 rounded">
                <a href="#" class="fw-light text-dark fs-6">
                    <i class="bi bi-eye me-1"></i> 100</a
                >
                </div>
                <div class="p-1 m-1 rounded">
                <a href="#" class="fw-light text-dark fs-6">
                    <i class="bi bi-heart me-1"></i> 49</a
                >
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-md-6 my-3">
        <div
            class="project"
            style="background-image: url(../../assets/images/work3.jpg)"
        >
            <div class="content p-4 d-flexflex-column opacity-0">
            <a href="#" class="text-white fs-4">work 02</a>
            <p class="fw-light pt-3">animation</p>
            <div class="content-url d-flex">
                <div class="p-1 m-1 rounded">
                <a href="#" class="text-dark"><i class="bi bi-share-fill"></i></a>
                </div>
                <div class="p-1 m-1 rounded">
                <a href="#" class="fw-light text-dark fs-6">
                    <i class="bi bi-eye me-1"></i> 100</a
                >
                </div>
                <div class="p-1 m-1 rounded">
                <a href="#" class="fw-light text-dark fs-6">
                    <i class="bi bi-heart me-1"></i> 49</a
                >
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-md-6 my-3">
        <div
            class="project"
            style="background-image: url(../../assets/images/work4.jpg)"
        >
            <div class="content p-4 d-flexflex-column opacity-0">
            <a href="#" class="text-white fs-4">work 02</a>
            <p class="fw-light pt-3">animation</p>
            <div class="content-url d-flex">
                <div class="p-1 m-1 rounded">
                <a href="#" class="text-dark"><i class="bi bi-share-fill"></i></a>
                </div>
                <div class="p-1 m-1 rounded">
                <a href="#" class="fw-light text-dark fs-6">
                    <i class="bi bi-eye me-1"></i> 100</a
                >
                </div>
                <div class="p-1 m-1 rounded">
                <a href="#" class="fw-light text-dark fs-6">
                    <i class="bi bi-heart me-1"></i> 49</a
                >
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!--  معرفتس اعمل الفانكشن بتاعت الزار دا حتي بال 
        native
        السبب كان عمال يضرب ايرور -->
    <button class="btn btn-info text-light" id="show-more">show more</button>
    </div>
