    <div class="container-fluid mt-5 px-5">
    <p class="fw-light font-monospace l-space">ABOUT US</p>
    <p class="fw-bold fs-3">WHO AM I?</p>
    <p class="text-secondary-emphasis">
        <span class="fw-bold">Hi Im Jackson Ford </span>On her way she met a copy.
        The copy warned the Little Blind Text, that where it came from it would have
        been rewritten a thousand times and everything that was left from its origin
        would be the word (and) and the Little Blind Text should turn around and
        return to its own, safe country.
    </p>
    <p class="my-4 mb-5">
        Even the all-powerful Pointing has no control about the blind texts it is an
        almost unorthographic life One day however a small line of blind text by the
        name of Lorem Ipsum decided to leave for the far World of Grammar
    </p>
    <div class="row justify-content-center">
        <div class="col-md-3 my-3">
        <div class="box shadow border-bottom border-primary">
            <i class="bi bi-lightbulb text-primary fs-2 p-1"></i>
            <p class="p-1">Graphic Design</p>
        </div>
        </div>
        <div class="col-md-3 my-3">
        <div class="box shadow border-bottom border-danger">
            <i class="bi bi-cookie text-danger fs-2 p-1"></i>
            <p class="p-1">web design</p>
        </div>
        </div>
        <div class="col-md-3 my-3">
        <div class="box shadow border-bottom border-warning">
            <i class="bi bi-database-fill text-warning fs-2 p-1"></i>
            <p class="p-1">software</p>
        </div>
        </div>
        <div class="col-md-3 my-3">
        <div class="box shadow border-bottom border-success">
            <i class="bi bi-phone text-success fs-2 p-1"></i>
            <p class="p-1">Application</p>
        </div>
        </div>
    </div>
    </div>
