<nav class="navbar navbar-expand-lg bg-body-tertiary flex-column tex-center sticky-top ">
  <div class="container flex-column">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-column m-3 tex-center ">
        <li class="nav-item  tex-center  mx-5 " >
          <a class="navbar-brand tex-center " href="#"><img src="../../assets/images/profile.jpg" alt="profile" class="rounded-circle w-25 tex-center"></a>
    <h1>jodey hany</h1>
    <p><span class="active-link p-2">UI/UX/Designer</span>in Philippines</p>
        </li>
        <li class="nav-item mx-5 ">
          <a class="nav-link  active-link text-uppercase " aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item mx-5 ">
          <a class="nav-link text-dark-50 " aria-current="page" href="#">about</a>
        </li>
        <li class="nav-item mx-5  ">
          <a class="nav-link text-dark-50 " aria-current="page" href="#">skills</a>
        </li>
        <li class="nav-item mx-5  ">
          <a class="nav-link text-dark-50 " aria-current="page" href="#">experience</a>
        </li>
        <li class="nav-item mx-5  ">
          <a class="nav-link text-dark-50 " aria-current="page" href="#">work</a>
        </li>
      </ul>
    </div>
  </div>
</nav>