<div class="container-fluid mt-5  " >
    <p class="fw-light font-monospace l-space ">EXPERIENCE</p>
    <p class="fw-bold fs-3">WORK EXPERIENCE</p>
    <div class="EXPERIENCE p-3 position-relative">
        <div class="box my-5 p-3 ">
            <p class="h3 p-3  "><a href="#">full stack</a> 2017-2018 </p>
            <p class="p-1 w-75">Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
        </div>
        <div class="box my-5 p-3 ">
            <p class="h3 p-3  "><a href="#">Front End Developer at Google Company </a> 2017-2018 </p>
            <p class="p-1 w-75">Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
        </div>
        <div class="box my-5 p-3 ">
            <p class="h3 p-3  "><a href="#">system analyst</a> 2017-2018 </p>
            <p class="p-1 w-75">Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
        </div>
      

    </div>
</div>
